name: Build and deploy

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install gnuplot and build
        run: |
          sudo apt-get update -y
          sudo apt-get install -y gnuplot
          python3 -m venv venv
          source venv/bin/activate
          python -m pip install --upgrade pip
          pip install nox
          nox -s build

      - name: Install Netlify CLI
        run: npm install -g netlify-cli

      - name: Deploy to Netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          netlify deploy --dir=./test-report --site=$NETLIFY_SITE_ID --auth=$NETLIFY_AUTH_TOKEN
